set_io Tile_X0Y1_A X0Y1.A
set_io Tile_X0Y1_B X0Y1.B
set_io Tile_X13Y1_A X13Y1.A
set_io Tile_X13Y1_B X13Y1.B
set_io Tile_X13Y1_C X13Y1.C
set_io Tile_X13Y1_D X13Y1.D
set_io Tile_X13Y1_E X13Y1.E
set_io Tile_X13Y1_F X13Y1.F
set_io Tile_X13Y1_G X13Y1.G
set_io Tile_X13Y1_H X13Y1.H
set_io Tile_X13Y1_I X13Y1.I
set_io Tile_X13Y1_J X13Y1.J
set_io Tile_X13Y1_K X13Y1.K
set_io Tile_X0Y2_A X0Y2.A
set_io Tile_X0Y2_B X0Y2.B
set_io Tile_X13Y2_A X13Y2.A
set_io Tile_X13Y2_B X13Y2.B
set_io Tile_X13Y2_C X13Y2.C
set_io Tile_X13Y2_D X13Y2.D
set_io Tile_X13Y2_E X13Y2.E
set_io Tile_X13Y2_F X13Y2.F
set_io Tile_X13Y2_G X13Y2.G
set_io Tile_X13Y2_H X13Y2.H
set_io Tile_X13Y2_I X13Y2.I
set_io Tile_X13Y2_J X13Y2.J
set_io Tile_X13Y2_K X13Y2.K
set_io Tile_X0Y3_A X0Y3.A
set_io Tile_X0Y3_B X0Y3.B
set_io Tile_X13Y3_A X13Y3.A
set_io Tile_X13Y3_B X13Y3.B
set_io Tile_X13Y3_C X13Y3.C
set_io Tile_X13Y3_D X13Y3.D
set_io Tile_X13Y3_E X13Y3.E
set_io Tile_X13Y3_F X13Y3.F
set_io Tile_X13Y3_G X13Y3.G
set_io Tile_X13Y3_H X13Y3.H
set_io Tile_X13Y3_I X13Y3.I
set_io Tile_X13Y3_J X13Y3.J
set_io Tile_X13Y3_K X13Y3.K
set_io Tile_X0Y4_A X0Y4.A
set_io Tile_X0Y4_B X0Y4.B
set_io Tile_X13Y4_A X13Y4.A
set_io Tile_X13Y4_B X13Y4.B
set_io Tile_X13Y4_C X13Y4.C
set_io Tile_X13Y4_D X13Y4.D
set_io Tile_X13Y4_E X13Y4.E
set_io Tile_X13Y4_F X13Y4.F
set_io Tile_X13Y4_G X13Y4.G
set_io Tile_X13Y4_H X13Y4.H
set_io Tile_X13Y4_I X13Y4.I
set_io Tile_X13Y4_J X13Y4.J
set_io Tile_X13Y4_K X13Y4.K
set_io Tile_X0Y5_A X0Y5.A
set_io Tile_X0Y5_B X0Y5.B
set_io Tile_X13Y5_A X13Y5.A
set_io Tile_X13Y5_B X13Y5.B
set_io Tile_X13Y5_C X13Y5.C
set_io Tile_X13Y5_D X13Y5.D
set_io Tile_X13Y5_E X13Y5.E
set_io Tile_X13Y5_F X13Y5.F
set_io Tile_X13Y5_G X13Y5.G
set_io Tile_X13Y5_H X13Y5.H
set_io Tile_X13Y5_I X13Y5.I
set_io Tile_X13Y5_J X13Y5.J
set_io Tile_X13Y5_K X13Y5.K
set_io Tile_X0Y6_A X0Y6.A
set_io Tile_X0Y6_B X0Y6.B
set_io Tile_X13Y6_A X13Y6.A
set_io Tile_X13Y6_B X13Y6.B
set_io Tile_X13Y6_C X13Y6.C
set_io Tile_X13Y6_D X13Y6.D
set_io Tile_X13Y6_E X13Y6.E
set_io Tile_X13Y6_F X13Y6.F
set_io Tile_X13Y6_G X13Y6.G
set_io Tile_X13Y6_H X13Y6.H
set_io Tile_X13Y6_I X13Y6.I
set_io Tile_X13Y6_J X13Y6.J
set_io Tile_X13Y6_K X13Y6.K
set_io Tile_X0Y7_A X0Y7.A
set_io Tile_X0Y7_B X0Y7.B
set_io Tile_X13Y7_A X13Y7.A
set_io Tile_X13Y7_B X13Y7.B
set_io Tile_X13Y7_C X13Y7.C
set_io Tile_X13Y7_D X13Y7.D
set_io Tile_X13Y7_E X13Y7.E
set_io Tile_X13Y7_F X13Y7.F
set_io Tile_X13Y7_G X13Y7.G
set_io Tile_X13Y7_H X13Y7.H
set_io Tile_X13Y7_I X13Y7.I
set_io Tile_X13Y7_J X13Y7.J
set_io Tile_X13Y7_K X13Y7.K
set_io Tile_X0Y8_A X0Y8.A
set_io Tile_X0Y8_B X0Y8.B
set_io Tile_X13Y8_A X13Y8.A
set_io Tile_X13Y8_B X13Y8.B
set_io Tile_X13Y8_C X13Y8.C
set_io Tile_X13Y8_D X13Y8.D
set_io Tile_X13Y8_E X13Y8.E
set_io Tile_X13Y8_F X13Y8.F
set_io Tile_X13Y8_G X13Y8.G
set_io Tile_X13Y8_H X13Y8.H
set_io Tile_X13Y8_I X13Y8.I
set_io Tile_X13Y8_J X13Y8.J
set_io Tile_X13Y8_K X13Y8.K
set_io Tile_X0Y9_A X0Y9.A
set_io Tile_X0Y9_B X0Y9.B
set_io Tile_X13Y9_A X13Y9.A
set_io Tile_X13Y9_B X13Y9.B
set_io Tile_X13Y9_C X13Y9.C
set_io Tile_X13Y9_D X13Y9.D
set_io Tile_X13Y9_E X13Y9.E
set_io Tile_X13Y9_F X13Y9.F
set_io Tile_X13Y9_G X13Y9.G
set_io Tile_X13Y9_H X13Y9.H
set_io Tile_X13Y9_I X13Y9.I
set_io Tile_X13Y9_J X13Y9.J
set_io Tile_X13Y9_K X13Y9.K
set_io Tile_X0Y10_A X0Y10.A
set_io Tile_X0Y10_B X0Y10.B
set_io Tile_X13Y10_A X13Y10.A
set_io Tile_X13Y10_B X13Y10.B
set_io Tile_X13Y10_C X13Y10.C
set_io Tile_X13Y10_D X13Y10.D
set_io Tile_X13Y10_E X13Y10.E
set_io Tile_X13Y10_F X13Y10.F
set_io Tile_X13Y10_G X13Y10.G
set_io Tile_X13Y10_H X13Y10.H
set_io Tile_X13Y10_I X13Y10.I
set_io Tile_X13Y10_J X13Y10.J
set_io Tile_X13Y10_K X13Y10.K
set_io Tile_X0Y11_A X0Y11.A
set_io Tile_X0Y11_B X0Y11.B
set_io Tile_X13Y11_A X13Y11.A
set_io Tile_X13Y11_B X13Y11.B
set_io Tile_X13Y11_C X13Y11.C
set_io Tile_X13Y11_D X13Y11.D
set_io Tile_X13Y11_E X13Y11.E
set_io Tile_X13Y11_F X13Y11.F
set_io Tile_X13Y11_G X13Y11.G
set_io Tile_X13Y11_H X13Y11.H
set_io Tile_X13Y11_I X13Y11.I
set_io Tile_X13Y11_J X13Y11.J
set_io Tile_X13Y11_K X13Y11.K
set_io Tile_X0Y12_A X0Y12.A
set_io Tile_X0Y12_B X0Y12.B
set_io Tile_X13Y12_A X13Y12.A
set_io Tile_X13Y12_B X13Y12.B
set_io Tile_X13Y12_C X13Y12.C
set_io Tile_X13Y12_D X13Y12.D
set_io Tile_X13Y12_E X13Y12.E
set_io Tile_X13Y12_F X13Y12.F
set_io Tile_X13Y12_G X13Y12.G
set_io Tile_X13Y12_H X13Y12.H
set_io Tile_X13Y12_I X13Y12.I
set_io Tile_X13Y12_J X13Y12.J
set_io Tile_X13Y12_K X13Y12.K
